@import 'fonts.css';
.navbar-nav{
  
    margin-left: auto;
    font-size: x-large;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

}
.navbar-brand{
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.navbar{
    width: 100%;
    position:fixed;
    z-index: 1000;
}